<!--#insert
  path="./-input-select.html"
  rawJson="{
    initialDisplay : 'State',
    name: '<!--#data jsonPath="name" default="state-select" -->',
    className: 'input-select-states input-select--one-third',
    required: true,
    errors: [{
      validator: 'required',
      message: 'We still need your state',
    }],
    options: [
      { value :'AL', displayValue : 'AL'},
      { value :'AK', displayValue : 'AK'},
      { value :'AZ', displayValue : 'AZ'},
      { value :'AR', displayValue : 'AR'},
      { value :'CA', displayValue : 'CA'},
      { value :'CO', displayValue : 'CO'},
      { value :'CT', displayValue : 'CT'},
      { value :'DE', displayValue : 'DE'},
      { value :'DC', displayValue : 'DC'},
      { value :'FL', displayValue : 'FL'},
      { value :'GA', displayValue : 'GA'},
      { value :'HI', displayValue : 'HI'},
      { value :'ID', displayValue : 'ID'},
      { value :'IL', displayValue : 'IL'},
      { value :'IN', displayValue : 'IN'},
      { value :'IA', displayValue : 'IA'},
      { value :'KS', displayValue : 'KS'},
      { value :'KY', displayValue : 'KY'},
      { value :'LA', displayValue : 'LA'},
      { value :'ME', displayValue : 'ME'},
      { value :'MD', displayValue : 'MD'},
      { value :'MA', displayValue : 'MA'},
      { value :'MI', displayValue : 'MI'},
      { value :'MN', displayValue : 'MN'},
      { value :'MS', displayValue : 'MS'},
      { value :'MO', displayValue : 'MO'},
      { value :'MT', displayValue : 'MT'},
      { value :'NE', displayValue : 'NE'},
      { value :'NV', displayValue : 'NV'},
      { value :'NH', displayValue : 'NH'},
      { value :'NJ', displayValue : 'NJ'},
      { value :'NM', displayValue : 'NM'},
      { value :'NY', displayValue : 'NY'},
      { value :'NC', displayValue : 'NC'},
      { value :'ND', displayValue : 'ND'},
      { value :'OH', displayValue : 'OH'},
      { value :'OK', displayValue : 'OK'},
      { value :'OR', displayValue : 'OR'},
      { value :'PA', displayValue : 'PA'},
      { value :'RI', displayValue : 'RI'},
      { value :'SC', displayValue : 'SC'},
      { value :'SD', displayValue : 'SD'},
      { value :'TN', displayValue : 'TN'},
      { value :'TX', displayValue : 'TX'},
      { value :'UT', displayValue : 'UT'},
      { value :'VT', displayValue : 'VT'},
      { value :'VA', displayValue : 'VA'},
      { value :'WA', displayValue : 'WA'},
      { value :'WV', displayValue : 'WV'},
      { value :'WI', displayValue : 'WI'},
      { value :'WY', displayValue : 'WY'},
    ]
  }"
-->