<div class="input-select js-form-element <!--#data jsonPath="className" -->" data-name="<!--#data jsonPath="name" -->" data-field-type="input-select" data-default-value="<!--#data jsonPath="defaultValue" -->" data-action="<!--#data jsonPath="action" -->" data-required="<!--#data jsonPath="required" default="false" -->">
  <select class="input-select__select js-input" name="<!--#data jsonPath="name" -->" id="<!--#data jsonPath="name" -->">
  <!--#each jsonPath="options" -->
    <option value="<!--#data jsonPath="value" -->">
      <!--#data jsonPath="value" -->
    </option>
  <!--#endeach -->
  </select>

  <img src="/img/green-check.png" class="green-check" />
  <img src="/img/red-triangle.png" class="red-triangle" />
  <div class="ui-select-chevron"><img src="/img/chevron-down.png"></div>
  <span class="input-select__initial-display">
    <!--#data jsonPath="initialDisplay" -->
  </span>
  <button class="input-select__select-value"></button>
  <div class="input-select__dropdown-ui">
    <!--#each jsonPath="options" -->
    <div class="dropdown-ui__option" data-current-focus data-value="<!--#data jsonPath="value" -->">
      <!--#data jsonPath="displayValue" -->
    </div>
    <!--#endeach -->
  </div>
  <!--#if jsonPath="tooltip" -->
    <!--#wrap path="_tooltip.html" -->
      <!--#data jsonPath="tooltip.message" -->
    <!--#endwrap -->
  <!--#endif -->

  <!--#each jsonPath="errors" -->
  <div class="js-error dn" data-validator="<!--#data jsonPath="validator" -->">
    <!--#data jsonPath="message" -->
  </div>
  <!--#endeach -->
</div>
